body{
    height: 100vh;
    width: 100%;
}
.navbarSearch-container{
    padding-top: 1%;
    height: 90vh;
    width: 100vw;
    display: flex;

}
.selectNav{
    
    width:40rem;
    height: 3rem;
}


.flex-center{
    display: flex;
    width:100vw;
    align-items: center;
}

.column{
    flex-direction: column;
}

@import url('https://fonts.googleapis.com/css2?family=David+Libre&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'David Libre', serif !important;
}
body , html{
  /* background-color: #e4e4e4; */
  background-color: #fffefe;

}

h1, h2, h3, h4, h5, h6, a, span, p{
  color: #494949  ;
}


.bg-white{
  background-color: #fff;
  border-radius: 2px !important;
  border: 1px solid #d3d2d2;
  box-shadow: 0 0 3px 0 #d3d2d2;
}

.flex{
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center{
  justify-content: center;
}
.justify-between{
  justify-content: space-between;
}

.justify-end{
  justify-content: end;
}
.items-center{
  align-items: center;
}

.items-end{
  align-items: flex-end;
}
.h-screen{
  height: 100vh;
}

.w-400{
  width: 400px;
}

.w-half{
  width: 50%;
}
.p-1{
  padding: 10px;
}
.p-2{
  padding: 20px;
}
.p-3{
  padding: 30px;
}

.m-1{
  margin: 10px;
}

.m-2{
  margin: 20px;
}

.m-3{
  margin: 30px;
}

.py-1{
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-2{
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-3{
  padding-top: 30px;
  padding-bottom: 30px;
}

.my-1{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  /* margin: 10px; */
}

.my-2{
  margin-top: 20px;
  margin-bottom: 20px;
}
.my-3{
  margin-top: 30px;
  margin-bottom: 30px;
}

input, textarea, select{
  height: 45px;
  border: 1px solid #d1d1d1;
  width: 100%;
  padding-left: 15px;
  width: 100%;
  border-radius: 4px;

}

input:focus, textarea, select{
  outline: none;
  border: 1px solid #000;
}

textarea{
  min-height: 100px;
  padding-top: 20px;
}

.contained-btn{
  height: 45px ;
  background-color: black ;
  color: white ;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
}
.btn-book{
  width: 135px;
}

.contained-btn:hover{
  color: black;
  background-color: white;
}

.outlined-btn{
  height: 45px ;  
  background-color:white;
  color:   black ;
  text-transform: uppercase;
  border: 1px solid black;
  cursor: pointer;
  padding: 0 20px;
  font-weight: 900;
  border-radius: 4px;

}
.outlined-btn:hover{
  color: white;
  background-color: black;
}

.w-full{
  width: 100%;
}

input{
  font-family: 'David Libre', serif;
}

.text-center{ 
  text-align: center;
}

.underline{
  text-decoration:  underline;
}

.title{
  font-size: 25px;
  padding-bottom: 15px;
}

.cursor-pointer{
  cursor: pointer;
}
.ant-form-item{
  margin-bottom: 8px !important;
}

.gap-1{
 gap:10px;
}

.gap-2{
  gap:20px;
 }
 .gap-3{
  gap:30px;
 }

.text-primary{
  color: #0b620b;
}

.text-secondray{
  color: #583005;
}


.bg-primary{
  background-color: #e4e4e4;
}

.bg-secondary{
  background-color: #d61355;
}


.logo{
  height: 40px;
  width: 50px;
  position: relative;
  top: 15px;}


  .spinner-parent{
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000b5;
    z-index: 5;
  }

  .padding{
    padding: 0 40px;
    margin: 10px;
  }


.btn{
  height: 40px;
  width: 150px;
  opacity: 0.7;
}

.para{
  line-height: 40px;
}
.board-container{
    height: 90vh;
    width: 100%;
    display: flex!important;
    align-items: center !important ;
    justify-content: center !important;

}
.LeadContainer{
  height: 100vh;
  width: 110vw;
  background-color: yellowgreen;
}
.table-container{
    width: 600px !important;
    /* display: flex!important;
    align-items: center !important ;
    justify-content: center !important; */
    height: 100vh;
}

.table-head{
  background-color: yellow !important;
    font-size: 30px !important;
}
.title-navSearch{
    padding: 30px;
    text-align: center;
}
 .p-container{
  width: 100%;
  display: flex;
  background-color: white !;

} 

.p-sec-container{
  
    width: 50%;
    background-color: rgb(28, 44, 69) !important;

    height: 70vh;
    padding: 40px;
    /* border-radius: 80px; */
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    position: relative;
    top: 80px;
    right: -50px;
    /* right: -520px; */
}

.paragraph{
  font-size: 1.5vw;
  line-height: 130%;
  margin-top: 5%;
  color: white !important;
}

.img-homePage{
  height: 400px;
  margin-left: 50px;
  margin-top: 30px;
  position: absolute;
  animation: animate1 6s infinite ease-in-out;
  /* right: 40%;
  top: 20%; */
  z-index: 3;
}

@keyframes animate1 {
  from {
  transform: rotate(0deg);
  }
  to {
  transform: rotate(360deg);
  }
}



.Register-Countiner {
  display: flex;
  border: 1px solid #ccc;
  width: 70%;
  margin: auto;
  height: 100%;
  margin-top: 4%;
  border-radius: 10px;
}

.Register-Form {
  width: 90%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  height: 100%;
}
.Register-Pic img {
  width: 100%;
  height: 100%;
}
.h2-login {
  text-align: center;
  color: #333;
  margin-top: 10vh;
}
.p-login {
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button-LoginPage {
  background-color: rgb(28, 44, 69);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.logo-navbar{
  height: 17vh;
  position: relative;
  left: -150px;
  top:-40px;
}

.flags-container{
width: 100%;
height: 120px;
position: relative;
top: -5px;;

}


.LeaderPage-countainer {
  display: flex;
  border: 1px solid #ccc;
  width: 70%;
  margin: auto;
  height: 90%;
  margin-top: 4%;
  border-radius: 10px;
}

.table-countainer {
  width: 50%;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.image-container {
  width: 50%;
}

.img-lead {
  max-width: 100%;
  height: auto;
}

.culture-page-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  background-color:yellowgreen;
  position: relative;
  top:-75vh;

}

.treeImg{
  height: 80vh;
}